body {
    background-color:rgb(249, 88, 142);
    text-align: center;
    margin-top: 50px;
}

.gall {
    display: flex;
    gap: 20px;
    padding-top: 50px;
    justify-content: center;;
}

.gallt{
    cursor: pointer;
    text-align: center;
    width: 200px;
    padding: 20px;
}

.gallt img{
    width: 230px;
    height: 300px;
}

.footers{
    width: 1510px;
    height: 20px;
    background-color: rgb(254, 251, 251);
    text-align: center;
    top: 130px;
    left: -20px;
    position: relative;
}